<nav class="nav-menu">
    <ul class="dx-list dx-list-select-decorator">
        <li class="dx-list-item">
            <NavLink class="dx-list-item-content nav-link" href="/" Match="NavLinkMatch.All">
                <span class="dx-icon dx-icon-event"></span>
                <span class="nav-text">Book appointment</span>
            </NavLink>
        </li>
    </ul>
</nav>
